{% extends 'base.html.twig' %}

{% block title %}Equipement{% endblock %}

{% block body %}
    <main>

        <!--page-title-area start-->
        <section class="page-title-area" style="background-image:url(assets/img/bg/bg.jpg);">
            <div class="right-border-shape">
                <img src="assets/img/shape/02.png" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <div class="page-title-wrapper text-center">
                            <h1 class="page-title wow fadeInUp2 animated" data-wow-delay='.1s'>Équipement</h1>
                            <div class="breadcrumb">
                                <ul class="breadcrumb-list wow fadeInUp2 animated" data-wow-delay='.3s'>
                                    <li><a href="/">Accueil <i class="fas fa-chevron-right"></i></a></li>
                                    <li><a href="#">Actualités <i class="fas fa-chevron-right"></i></a></li>
                                    <li><a class="active" href="#">Équipement</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--page-title-area area-->
        <!--blog-area start-->
        <section class="blog-area pt-130 pb-100">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="blog-wrapper mb-30">
                            <div class="section-title text-left mb-70 wow fadeInUp2 animated" data-wow-delay='.1s'>
                                <h6 class="left-line pl-75 pr-75"><h3>Équipement spécialisé</h3>
                                    <h6>Conçue pour les déchets cliniques, notre gamme de bacs Hygo s’adapte à vos espaces de travail.
                                        En acier galvanisé de première qualité et recouvert d’une peinture anti-microbienne pour réduire la propagation des bactéries nocives à la surface, il répond à des normes d’hygiène strictes.
                                        Sa pédale garantit de plus une ouverture sans contact manuel.</h6>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp2 animated" data-wow-delay='.3s'>
                        <div class="blogs mb-30 mr-15">
                            <div class="blogs__thumb pos-rel mb-45">
                                <div class="blogs__thumb--img">
                                    <img src="assets/img/blog/masquee.jpg" alt="">
                                </div>
                                <a class="blog-tag" href="blog-details.html">#Tag</a>

                            </div>
                            <div class="blogs__content">
                                <div class="blogs__content--meta mb-15">
                                    <span><i class="far fa-calendar-alt"></i> 05 Nov 2020</span>

                                </div>
                                <h4 class="mb-20"><a href="blog-details.html">Actualité 1</a></h4>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp2 animated" data-wow-delay='.3s'>
                        <div class="blogs mb-30 mr-15">
                            <div class="blogs__thumb pos-rel mb-45">
                                <div class="blogs__thumb--img">
                                    <img src="assets/img/blog/masquess.jpg" alt="">
                                </div>
                                <a class="blog-tag" href="blog-details.html">#Tag</a>

                            </div>
                            <div class="blogs__content">
                                <div class="blogs__content--meta mb-15">
                                    <span><i class="far fa-calendar-alt"></i> 05 Nov 2020</span>

                                </div>
                                <h4 class="mb-20"><a href="blog-details.html">Actualité 2</a></h4>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>
        <!--blog-area end-->

    </main>
{% endblock %}
