{% extends 'base.html.twig' %}

{% block title %}Accueil {% endblock %}

{% block body %}
    <main>
        <!--slider-area start-->
        <div class="slider-area slider-area-02 pos-rel">
            <div class="slider-active">
                <div class="single-slider slider-height-02 pos-rel d-flex align-items-center"
                     style="background-image: url(assets/img/bg/bg.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8">
                                <div class="slider__content slider__content__02 text-left">
                                    <h1 class="main-title mb-25" data-animation="fadeInUp2" data-delay=".2s">Collecte et
                                        recyclage des masques</h1>
                                    <h4>Notre grand défi </h4>
                                    <ul class="btn-list btn-list-02">
                                        <li><a class="theme_btn theme_btn2 theme_btn_bg_02" href="about.html"
                                               data-animation="fadeInLeft" data-delay=".5s">En Savoir Plus <i
                                                        class="fas fa-arrow-right"></i></a>
                                        </li>
                                        <li><a class="theme_btn theme-border-btn theme_btn_bg_02" href="contact.html"
                                               data-animation="fadeInLeft" data-delay=".5s">Faire un Don <i
                                                        class="fas fa-arrow-right"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--slider-area end-->
        <!--about-us-area start-->
        <section class="about-us-area about-area-02 pt-130 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-md-12">
                        <div class="about-img mb-30 wow fadeInUp2 animated" data-wow-delay='.1s'>
                            <div class="about-img__thumb">
                                <img src="assets/img/about2.jpg" alt="">
                            </div>
                            <div class="about-img__style-text">
                                <img src="assets/img/about_text.png" alt="">
                            </div>
                            <div class="about-img__style-dot d-none d-lg-inline-block">
                                <img src="assets/img/about_shape.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6 col-md-12">
                        <div class="about__wrapper about-wrapper-02 pl-70">
                            <div class="section-title text-left mb-50 wow fadeInUp2 animated" data-wow-delay='.1s'>
                                <h6 class="left-line pl-75">Qui sommes nous ?</h6>
                                <h2>Recyclovid<br>
                                    <span>Vers un avenir meilleur</span></h2>
                                <p>En raison de l’épidémie actuelle, la population a vu naître de nouveaux déchets et
                                    particulièrement le masque jetable pour assurer la sécurité de tous. Chaque semaine,
                                    des millions de masques sont utilisés en France. Pour éviter une pollution massive,
                                    nous lançons une nouvelle filière de recyclage.

                                    Les masques chirurgicaux sont composés de matières non dégradables: plastique
                                    (polypropylène), élastiques et barrette métallique. Il est donc important de bien
                                    les isoler pour assurer leur traitement après utilisation.


                                    Recyclo’Vid propose à ces clients des services innovants leur permettant de recycler
                                    une très grande variété de masque.</p>
                            </div>
                            <div class="inner-counters">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                        <div class="counters d-flex mb-10 wow fadeInUp2 animated" data-wow-delay='.1s'>
                                            <div class="counters__icon mb-30"><i class="fas fa-handshake"></i></div>
                                            <div class="counters__content">
                                                <h3><span class="counter">300</span></h3>
                                                <p>Partenaires</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                        <div class="counters d-flex mb-20 pl-35 wow fadeInUp2 animated"
                                             data-wow-delay='.1s'>
                                            <div class="counters__icon mb-30"><i class="fas fa-recycle"></i></div>
                                            <div class="counters__content">
                                                <h3><span class="counter">79562</span></h3>
                                                <p>Masques Recyclés</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="theme_btn theme_btn_bg" href="about.html"
                               data-animation="fadeInUp2" data-delay=".1s">En Apprendre Plus <i
                                        class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--about-us-area end-->
        <!--our-goal-area start-->
        <section class="our-goal-area pos-rel wow fadeInUp2 animated" data-wow-delay='.1s'>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                   aria-controls="home" aria-selected="true">Notre Mission</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                   aria-controls="profile" aria-selected="false">Nos Buts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                   aria-controls="contact" aria-selected="false">Histoire de l'Association</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row goal-content mt-75 pb-100">
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="goal-wrapper pr-120">
                                            <div class="section-title text-left mb-35">
                                                <h2>Notre Mission<br>
                                                    <span>Recycler ! </span></h2>
                                                <p>Nous intervenons sur 8 départements autour de nos agences de Nantes.

                                                    Nous sommes convaincus que le tri ne peut fonctionner que s’il est
                                                    basé sur des méthodes simples qui favorisent l’adhésion de nos
                                                    clients.

                                                    C’est pourquoi, nous concevons nos services sur-mesure pour apporter
                                                    à nos clients le meilleur confort dans le fonctionnement du tri.

                                                    Nous garantissons enfin une traçabilité des déchets que nous
                                                    collectons, ce qui permet à nos clients de communiquer vers leurs
                                                    salariés pour donner du sens à leur action, mais aussi de se mettre
                                                    en conformité avec les normes qui leur sont imposées.

                                                    «Notre métier ne se réduit pas à collecter les masques recyclables
                                                    pour les valoriser au mieux.

                                                </p>
                                            </div>
                                            <ul class="goal-list">
                                                <li>Garantir à nos clients que les masques
                                                    qu’ils nous confient suivront les filières de régénération les plus
                                                    écologiques qui nous sont offertes.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="goal-img-box pl-100">
                                            <div class="goal-img-one">
                                                <img src="assets/img/index_large.jpg" alt="">
                                            </div>
                                            <div class="goal-img-two">
                                                <img src="assets/img/index_small.jpg" alt="">
                                            </div>
                                            <div class="goal-img-three">
                                                <img src="assets/img/goal_shape.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row goal-content mt-75 pb-100">
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="goal-wrapper pr-120">
                                            <div class="section-title text-left mb-35">
                                                <h2>Notre But<br>
                                                    <span>Un avenir meilleur </span></h2>
                                                <p>Recyclo-vid mène ses actions dans toute la France. L’objectif est
                                                    d’intervenir sur tous le territoire dès 2021. Vingt bénévoles
                                                    composent le noyau dur de l’association qui compte plus de 150
                                                    adhérents à ce jour. Ce nombre est en forte croissance, et devrait
                                                    dépasser les 500 début 2021.</p>
                                            </div>
                                            <ul class="goal-list">
                                                <li>Plus de bénévoles pour mener à bien notre mission</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="goal-img-box pl-100">
                                            <div class="goal-img-one">
                                                <img src="assets/img/index_large.jpg" alt="">
                                            </div>
                                            <div class="goal-img-two">
                                                <img src="assets/img/index_small.jpg" alt="">
                                            </div>
                                            <div class="goal-img-three">
                                                <img src="assets/img/goal_shape.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="row goal-content mt-75 pb-100">
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="goal-wrapper pr-120">
                                            <div class="section-title text-left mb-35">
                                                <h2>Histoire de l'association<br>
                                                    <span>D'où venons-nous ?</span></h2>
                                                <p> Recyclo-vid est une association à but non-lucratif créée en Juillet
                                                    2020 suite à la crise sanitaire.

                                                    Elle a pour ambition de réduire l’impact environnemental causé par
                                                    la consommation en masse de masques de protection (en majorité
                                                    jetables). Pour cela, l’association intervient aussi bien auprès des
                                                    particuliers que des entreprises pour mener des actions de
                                                    prévention et sensibiliser sur la pollution. Le nouveau projet de
                                                    l’association est de collecter tous types de masques de protection
                                                    usagés et de les réinsérer dans une filière de recyclage afin qu’ils
                                                    soient valorisés.</p>
                                            </div>
                                            <ul class="goal-list">
                                                <li>Que notre histoire se développe pour encore de nombreuses années</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="goal-img-box pl-100">
                                            <div class="goal-img-one">
                                                <img src="assets/img/index_large.jpg" alt="">
                                            </div>
                                            <div class="goal-img-two">
                                                <img src="index_small" alt="">
                                            </div>
                                            <div class="goal-img-three">
                                                <img src="assets/img/goal_shape.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--cta-area start-->
        <section class="cta-area cta-area-02 theme-bg2 pt-55 pb-25"
                 style="background-image: url(#);">
            <div class="container">
                <div class="row align-items-md-center">
                    <div class="col-xl-9 col-lg-9 col-md-8">
                        <div class="cta-wrapper wow fadeInUp2 animated" data-wow-delay='.1s'>
                            <div class="section-title mb-30">
                                <h2>Vous souhaitez devenir un <b>Partenaire</b> ?</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4">
                        <div class="cta-wrapper">
                            <div class="cta-btn text-md-right wow fadeInUp2 animated" data-wow-delay='.1s'>
                                <a class="theme_btn theme_btn_bg_02" href="contact.html">Contactez nous <i
                                            class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--cta-area end-->
        <!--faq-area start-->
        <section class="faq-area heding-bg pos-rel pt-130 pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="faq-wrapper mb-30">
                            <div class="section-title white-title text-left mb-85 wow fadeInUp2 animated"
                                 data-wow-delay='.1s'>
                                <h6 class="left-line pl-75 pr-75">FAQ</h6>
                                <h2>Questions Fréquemment Posées</h2>
                                <a class="theme_btn theme_btn_bg" href="contact.html">D'autres questions ? <i
                                            class="fas fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="faq-content mb-30 wow fadeInUp2 animated" data-wow-delay='.1s'>
                            <div id="accordion">
                                <div class="card card-bg mb-15" style="background-image:url(#)">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse"
                                                    data-target="#collapseOne" aria-expanded="true"
                                                    aria-controls="collapseOne">
                                                Pourquoi le recyclage et le tri des masques ?
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                         data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Avec la crise sanitaire qui frappe la France , ils sont devenus un objet
                                                de tous les jours, et la question de leur traitement se pose
                                                naturellement. Face à la prolifération de masques jetables , il faut
                                                encourager le tri, créer des filières de recyclage et relocaliser la
                                                production en Europe et en France, préconisent jeudi deux députés au
                                                terme d'une mission parlementaire.
                                                Danielle Brulebois (LREM) et Gérard Leseul (SOC) se sont penchés sur le
                                                sujet depuis la mi-décembre. Il en ressort que l'usage de masques pour
                                                lutter contre la propagation du Covid-19 a entraîné entre « 40.000 et
                                                100.000 tonnes de déchets non recyclés en 2020 en France », a indiqué la
                                                rapporteur. « Il est de notre devoir de nous pencher sur les
                                                conséquences écologiques de ce port du masque », a-t-elle souligné.
                                                nanoplastiques
                                                Le problème se pose pour les masques chirurgicaux, mais aussi certains
                                                masques en tissu qui contiennent des polymères, a-t-elle souligné. Ils
                                                sont source de pollution car produits à base de pétrole, souvent
                                                importés de Chine, ils émettent des nanoplastiques quand ils se
                                                dégradent dans la nature et même quand ils sont jetés correctement à la
                                                poubelle, l'incinération ou l'enfouissement ne sont pas des solutions
                                                satisfaisantes, selon les députés.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-bg mb-15" style="background-image:url(#)">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                    data-target="#collapseTwo" aria-expanded="false"
                                                    aria-controls="collapseTwo">
                                                Le recyclage des masques, comment cela fonctionne  ?
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                         data-parent="#accordion">
                                        <div class="card-body">
                                            <p>  1. Déposez vos masques usagés (masques à usage unique et/ou masques en tissu) dans l'un des points de collecte de la Métropole
                                                2. Vos masques sont collectés puis décontaminés (tout comme les bornes) par un traitement innovant à base d’UV
                                                3. Les masques sont traités, broyés et recyclés localement en intégrant l'une de ces trois filières : textiles (vêtements en polaire ...), bâtiment (matériaux d'isolation thermique, bétons ...), plasturgie (objets ou contenants en plastique ...)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-bg mb-15" style="background-image:url(#)">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                    data-target="#collapseThree" aria-expanded="false"
                                                    aria-controls="collapseThree">
                                                Est-ce qu’il est compliqué de recycler un masque ?
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                         data-parent="#accordion">
                                        <div class="card-body">
                                            <p> D’un point de vue technologique, non. Les machines et les équipements existent… mais la mise en œuvre est assez compliquée puisque le processus complet représente une chaîne de 100m de long pour mettre en place les différentes étapes jusqu’au produit extrudé sous forme de granulés.</p>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-bg mb-15" style="background-image:url(#)">
                                    <div class="card-header" id="headingFour">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                    data-target="#collapseFour" aria-expanded="false"
                                                    aria-controls="collapseFour">
                                                Comment vous faites précisément  ?
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                         data-parent="#accordion">
                                        <div class="card-body">
                                            <p> D’abord on collecte les masques : chaque borne peut réceptionner entre 1 800 à 2 000 masques. Elles font environ 50 litres et sont transparentes car on s’est rendu compte qu’il fallait afficher le déchet afin que les gens ne se trompent pas. Les bornes pleines sont remplacées par des vides puis déversées dans un centre avec un tunnel de décontamination à rayonnements UV. S’ensuit un processus de broyage, de dissociation des élastiques et de la barrette nasale. On sèche, on broie de nouveau puis il y a tout un processus jusqu’à l’extrusion.</p>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--faq-area end-->
        <!--testimonial-area start-->
        <section class="testimonial-area pt-125 pb-130">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-5">
                        <div class="testimonial-img-box">
                            <div class="img-item wow d-none d-xl-inline-block fadeInUp2 animated" data-wow-delay='.3s'>
                                <img src="assets/img/team_small.png" alt="">
                            </div>
                            <div class="img-item-two wow fadeInUp2 animated" data-wow-delay='.5s'>
                                <img src="assets/img/team_big.png" alt="" style="width: 337px; height: 361px">
                            </div>
                            <div class="img-item-three wow fadeIn animated" data-wow-delay='.7s'>
                                <img src="assets/img/testimonial_shape.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7 testimonial-active2  wow fadeInUp2 animated" data-wow-delay='.3s'>
                        <div class="testimonial-item testimonial-item-02 pr-80">
                            <div class="section-title text-left mb-50">
                                <h6 class="left-line pl-75 pr-75">Témoignages</h6>
                                <h2>3k+ Partenaires<br>
                                    <span>Disent à propos de nous</span></h2>
                            </div>
                            <div class="testimonial-content d-sm-flex">
                                <div class="author-img pb-20 mr-40">
                                    <div class="author-avatar">
                                        <img src="assets/img/testimonal.png" alt="">
                                    </div>
                                </div>
                                <div class="testimonial-inner">
                                    <h5 class="semi-title mb-15">Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Maecenas sit amet gravida ligula. Praesent quis
                                        quam malesuada, laoreet nisi id, gravida leo. Nam condimentum tincidunt lectus,
                                        ac condimentum libero luctus a. Duis nulla felis, bibendum mollis nunc a,
                                        ultrices pellentesque odio. Curabitur rhoncus nibh vel pulvinar mollis.</h5>
                                    <div class="author-content mb-10">
                                        <h5 class="left-line pl-40">John Doe,<span
                                                    class="desig">Poste & Fonction</span></h5>
                                    </div>
                                    <div class="review-icon">
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-item testimonial-item-02 pr-80">
                            <div class="section-title text-left mb-50">
                                <h6 class="left-line pl-75 pr-75">Témoignages</h6>
                                <h2>3k+ Partenaires<br>
                                    <span>Disent à propos de nous</span></h2>
                            </div>
                            <div class="testimonial-content d-sm-flex">
                                <div class="author-img pb-20 mr-40">
                                    <div class="author-avatar">
                                        <img src="assets/img/testimonal.png" alt="">
                                    </div>
                                </div>
                                <div class="testimonial-inner">
                                    <h5 class="semi-title mb-15">Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit. Maecenas sit amet gravida ligula. Praesent quis
                                        quam malesuada, laoreet nisi id, gravida leo. Nam condimentum tincidunt lectus,
                                        ac condimentum libero luctus a. Duis nulla felis, bibendum mollis nunc a,
                                        ultrices pellentesque odio. Curabitur rhoncus nibh vel pulvinar mollis.</h5>
                                    <div class="author-content mb-10">
                                        <h5 class="left-line pl-40">Jane Doe,<span
                                                    class="desig">Poste & Fonction</span></h5>
                                    </div>
                                    <div class="review-icon">
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--testimonial-area end-->
        <!--blog-area start-->
        <section class="blog-area grey-bg pt-120 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 offset-xl-2">
                        <div class="section-title text-center mb-70 wow fadeInUp2 animated" data-wow-delay='.1s'>
                            <h6 class="left-line pl-75 pr-75">Dernières Actualités</h6>
                            <h2>Recyclovid News<br>
                                <span>Quoi de nouveau ?</span></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp2 animated" data-wow-delay='.1s'>
                        <div class="blogs blogs-02 white-bg mb-30">
                            <div class="blogs__thumb pos-abl"
                                 style="background-image:url(https://via.placeholder.com/370x387);">
                            </div>
                            <div class="blogs__content pos-rel">
                                <ul class="project-manager mb-20">
                                    <li>
                                        <a class="blog-tag" href="blog-details.html">Title Bla Lorem</a>
                                    </li>
                                    <li><a href="#"><img src="#" alt="">
                                            <span>Jane Doe</span></a></li>
                                </ul>
                                <h4 class="mb-20"><a href="blog-details.html">sit voluptatem accusan loremqe
                                        laudantiu.</a></h4>
                                <p>Sed ut perspiciatis unde omnis natus error sit voluptatem accusan loremqe laudantiu
                                    totam rem aperiam</p>
                                <div class="blogs__content--meta pt-30">
                                    <span><i class="fas fa-calendar-alt"></i> 05 Nov 2020</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp2 animated" data-wow-delay='.3s'>
                        <div class="blogs blogs-02 white-bg mb-30">
                            <div class="blogs__thumb pos-abl"
                                 style="background-image:url(https://via.placeholder.com/370x387);">
                            </div>
                            <div class="blogs__content pos-rel">
                                <ul class="project-manager mb-20">
                                    <li>
                                        <a class="blog-tag" href="blog-details.html">Title Bla Lorem</a>
                                    </li>
                                    <li><a href="#"><img src="#" alt="">
                                            <span>Jane Doe</span></a></li>
                                </ul>
                                <h4 class="mb-20"><a href="blog-details.html">sit voluptatem accusan loremqe
                                        laudantiu</a></h4>
                                <p>Sed ut perspiciatis unde omnis natus error sit voluptatem accusan loremqe laudantiu
                                    totam rem aperiam</p>
                                <div class="blogs__content--meta pt-30">
                                    <span><i class="fas fa-calendar-alt"></i> 05 Nov 2020</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp2 animated" data-wow-delay='.5s'>
                        <div class="blogs blogs-02 white-bg mb-30">
                            <div class="blogs__thumb pos-abl"
                                 style="background-image:url(https://via.placeholder.com/370x387);">
                            </div>
                            <div class="blogs__content pos-rel">
                                <ul class="project-manager mb-20">
                                    <li>
                                        <a class="blog-tag" href="blog-details.html">Title Bla Lorem</a>
                                    </li>
                                    <li><a href="#"><img src="#" alt="">
                                            <span>Jane Doe</span></a></li>
                                </ul>
                                <h4 class="mb-20"><a href="blog-details.html">sit voluptatem accusan loremqe
                                        laudantiu.</a></h4>
                                <p>Sed ut perspiciatis unde omnis natus error sit voluptatem accusan loremqe laudantiu
                                    totam rem aperiam</p>
                                <div class="blogs__content--meta pt-30">
                                    <span><i class="fas fa-calendar-alt"></i> 05 Nov 2020</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--blog-area end-->
    </main>

{% endblock %}
