{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}
    <main>

        <!--page-title-area start-->
        <section class="page-title-area" style="background-image:url(assets/img/faq.jpg);">
            <div class="right-border-shape">
                <img src="assets/img/shape/02.png" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 offset-xl-1">
                        <div class="page-title-wrapper text-center">
                            <h1 class="page-title wow fadeInUp2 animated" data-wow-delay='.1s'>FAQ</h1>
                            <div class="breadcrumb">
                                <ul class="breadcrumb-list wow fadeInUp2 animated" data-wow-delay='.1s'>
                                    <li><a href="index.html">Home <i class="fas fa-chevron-right"></i></a></li>
                                    <li><a href="#">L'association <i class="fas fa-chevron-right"></i></a></li>
                                    <li><a class="active" href="#">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--page-title-area area-->
        <section class="faq-area-02 grey-bg pt-130 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="faq-content mb-30">
                            <div id="accordion">
                                <div class="card card-bg card-02 mb-15 wow fadeInUp2 animated" data-wow-delay='.1s'
                                     style="background-image:url(assets/img/bg/06.jpg)">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse"
                                                    data-target="#collapseOne" aria-expanded="true"
                                                    aria-controls="collapseOne">
                                                Pourquoi le recyclage et le tri des masques ?
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                         data-parent="#accordion">
                                        <div class="card-body">
                                            <p> Avec la crise sanitaire qui frappe la France , ils sont devenus un objet
                                                de tous les jours, et la question de leur traitement se pose
                                                naturellement. Face à la prolifération de masques jetables , il faut
                                                encourager le tri, créer des filières de recyclage et relocaliser la
                                                production en Europe et en France, préconisent jeudi deux députés au
                                                terme d'une mission parlementaire.
                                                Danielle Brulebois (LREM) et Gérard Leseul (SOC) se sont penchés sur le
                                                sujet depuis la mi-décembre. Il en ressort que l'usage de masques pour
                                                lutter contre la propagation du Covid-19 a entraîné entre « 40.000 et
                                                100.000 tonnes de déchets non recyclés en 2020 en France », a indiqué la
                                                rapporteur. « Il est de notre devoir de nous pencher sur les
                                                conséquences écologiques de ce port du masque », a-t-elle souligné.
                                                nanoplastiques
                                                Le problème se pose pour les masques chirurgicaux, mais aussi certains
                                                masques en tissu qui contiennent des polymères, a-t-elle souligné. Ils
                                                sont source de pollution car produits à base de pétrole, souvent
                                                importés de Chine, ils émettent des nanoplastiques quand ils se
                                                dégradent dans la nature et même quand ils sont jetés correctement à la
                                                poubelle, l'incinération ou l'enfouissement ne sont pas des solutions
                                                satisfaisantes, selon les députés.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-bg card-02 mb-15 wow fadeInUp2 animated" data-wow-delay='.1s'
                                     style="background-image:url(assets/img/bg/06.jpg)">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                    data-target="#collapseTwo" aria-expanded="false"
                                                    aria-controls="collapseTwo">
                                                Le recyclage des masques, comment cela fonctionne  ?
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                         data-parent="#accordion">
                                        <div class="card-body">
                                            <p> 1. Déposez vos masques usagés (masques à usage unique et/ou masques en tissu) dans l'un des points de collecte de la Métropole
                                                2. Vos masques sont collectés puis décontaminés (tout comme les bornes) par un traitement innovant à base d’UV
                                                3. Les masques sont traités, broyés et recyclés localement en intégrant l'une de ces trois filières : textiles (vêtements en polaire ...), bâtiment (matériaux d'isolation thermique, bétons ...), plasturgie (objets ou contenants en plastique ...)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-bg card-02 mb-15 wow fadeInUp2 animated" data-wow-delay='.1s'
                                     style="background-image:url(assets/img/bg/06.jpg)">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                    data-target="#collapseThree" aria-expanded="false"
                                                    aria-controls="collapseThree">
                                                Est-ce qu’il est compliqué de recycler un masque ?
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                         data-parent="#accordion">
                                        <div class="card-body">
                                            <p> D’un point de vue technologique, non. Les machines et les équipements existent… mais la mise en œuvre est assez compliquée puisque le processus complet représente une chaîne de 100m de long pour mettre en place les différentes étapes jusqu’au produit extrudé sous forme de granulés.</p>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-bg card-02 mb-15 wow fadeInUp2 animated" data-wow-delay='.1s'
                                     style="background-image:url(assets/img/bg/06.jpg)">
                                    <div class="card-header" id="headingFour">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                    data-target="#collapseFour" aria-expanded="false"
                                                    aria-controls="collapseFour">
                                                Comment vous faites précisément  ?
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                         data-parent="#accordion">
                                        <div class="card-body">
                                            <p> D’abord on collecte les masques : chaque borne peut réceptionner entre 1 800 à 2 000 masques. Elles font environ 50 litres et sont transparentes car on s’est rendu compte qu’il fallait afficher le déchet afin que les gens ne se trompent pas. Les bornes pleines sont remplacées par des vides puis déversées dans un centre avec un tunnel de décontamination à rayonnements UV. S’ensuit un processus de broyage, de dissociation des élastiques et de la barrette nasale. On sèche, on broie de nouveau puis il y a tout un processus jusqu’à l’extrusion.</p>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card card-bg card-02 mb-15 wow fadeInUp2 animated" data-wow-delay='.1s'
                                     style="background-image:url(assets/img/bg/06.jpg)">
                                    <div class="card-header" id="headingFive">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                    data-target="#collapseFive" aria-expanded="false"
                                                    aria-controls="collapseFive">
                                                Concrètement que deviennent nos masques ?
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                         data-parent="#accordion">
                                        <div class="card-body">
                                            <p> Ils peuvent intégrer la filière bâtiment comme isolant, un substitut à la laine de verre par exemple. C’est également une fibre que l’on peut intégrer dans les bétons et enduis fibrés pour colmater les fissures des maisons. Dans le textile, on chauffe les granulés et les industriels tirent des fils pour créer des vêtements techniques comme des tenues de sport ou agricoles. Avec le polypropylène on peut faire des bâches, des filets… Dans la plasturgie, on peut concevoir des objets comme des pare-chocs, clignotants ou tableaux de bord de voitures.</p>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-bg card-02 mb-15 wow fadeInUp2 animated" data-wow-delay='.1s'
                                     style="background-image:url(assets/img/bg/06.jpg)">
                                    <div class="card-header" id="headingSix">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                    data-target="#collapseSix" aria-expanded="false"
                                                    aria-controls="collapseSix">
                                                Combien de fois peut-on recycler les masques  ?
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                         data-parent="#accordion">
                                        <div class="card-body">
                                            <p> pouvoir de filtration des masques chirurgicaux ne change pratiquement pas après avoir été portés (s’ils ne se mouillent pas), ni après avoir été stockés au sec à température ambiante, car la filtration repose sur le maillage des fibres et sur ses propriétés électrostatiques. Après 30 utilisations, la perte de filtration et d’ajustement au visage rendent le masque chirurgical comparable à un masque en tissu neuf. Donc, si l’on est soigneux, et que le masque ne reçoit pas de projections, on peut garder le masque très longtemps, et le recycler au moins 20 ou 30 fois, ce qui permet plus de six mois d’utilisation. Mais on peut choisir de renouveler plus souvent ses masques.</p>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-bg card-02 mb-15 wow fadeInUp2 animated" data-wow-delay='.1s'
                                     style="background-image:url(assets/img/bg/06.jpg)">
                                    <div class="card-header" id="headingSeven">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                    data-target="#collapseSeven" aria-expanded="false"
                                                    aria-controls="collapseSeven">
                                                Des pistes pour recycler les masques  ?
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                                         data-parent="#accordion">
                                        <div class="card-body">
                                            <p> Il y a des idées qui fleurissent depuis le début de la crise, industriels et chercheurs se démènent pour trouver des solutions.
                                                Tout d’abord, nos chercheurs du CNRS et de l'INSERM qui essaie tout simplement de réutiliser les masques chirurgicaux ou FFP2.
                                                L'objectif c'est de les décontaminer pour pouvoir les réutiliser tels quels. Le Pr Philippe Cinquin, chercheur, qui mène ces expérimentations, explique les différentes techniques qu’ils ont étudiées :
                                                •	Le lavage avec un détergent à haute température jusqu’à 95 degrés.
                                                •	Le passage en autoclave, sorte de cocotte-minute.
                                                •	L’irradiation.
                                                Selon lui, cela fonctionne, les résultats sont confirmés en laboratoire mais il précise que ces techniques n'ont pas encore obtenu d’autorisation de l’ANSM, l’agence du médicament, donc on ne peut pas encore les utiliser à grande échelle.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-bg card-02 mb-15 wow fadeInUp2 animated" data-wow-delay='.1s'
                                     style="background-image:url(assets/img/bg/06.jpg)">
                                    <div class="card-header" id="headingEight">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                    data-target="#collapseEight" aria-expanded="false"
                                                    aria-controls="collapseEight">
                                                Faut-il oublier les masques faits maison  ?
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                                         data-parent="#accordion">
                                        <div class="card-body">
                                            <p> « Ce qu'il faut, c'est encourager à recycler », a insisté Danielle Brulebois, qui constate que « le recyclage des masques n'a pas constitué une priorité, ni pour les pouvoirs publics, ni pour les collectivités ».
                                                Pour Gérard Leseul, une première mesure est de « promouvoir l'utilisation des masques réutilisables pour le grand public » afin de limiter les déchets. La possibilité de laver les masques chirurgicaux « constitue aussi une piste intéressante », a complété Danielle Brulebois.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-bg card-02 mb-15 wow fadeInUp2 animated" data-wow-delay='.1s'
                                     style="background-image:url(assets/img/bg/06.jpg)">
                                    <div class="card-header" id="headingNine">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                                    data-target="#collapseNine" aria-expanded="false"
                                                    aria-controls="collapseNine">
                                                Des mises en garde  ?
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine"
                                         data-parent="#accordion">
                                        <div class="card-body">
                                            <p>-	Dans les cas où vous pensez que votre masque est très contaminé (unité de soins intensifs, conversation avec un malade ou un contact, grand rassemblement, salissure visible), il est préférable de jeter le masque. En effet, si la contamination de départ est massive, les particules virales ne sont peut-être pas toutes inactivées en 7 jours.

                                                -	Dans les cas où votre masque a été mouillé, il faut le faire sécher avec soin, à l’air libre ou dans une enveloppe poreuse (en papier buvard), mais pas sous la pile. En théorie, un masque mouillé peut permettre le développement de germes dangereux pour un porteur immunodéprimé (par exemple un Aspergillus). Après séchage, le masque aura perdu une partie de son pouvoir filtrant, mais il restera plus efficace qu’un masque en tissu.

                                                -	Si vous êtes particulièrement fragile ou immunodéprimé, il est prudent de continuer à jeter vos masques et d’en utiliser un neuf à chaque fois. Le même conseil vaut pour les soignants au contact de ces personnes.

                                                -	Ne partagez pas vos masques avec d’autres. Chacun garde ses microbes pour éviter les contaminations entre personnes !

                                                -	Ne pas stocker le masque au froid : le coronavirus se conserve longtemps à 4°C, et plus encore à -18°C dans le congélateur.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>
{% endblock %}
