{% extends 'base.html.twig' %}

{% block title %}Hello FAQController!{% endblock %}

{% block body %}
    <style>
        /*FAQS*/
        .faq_question {
            margin: 0px;
            padding: 0px 0px 5px 0px;
            display: inline-block;
            cursor: pointer;
            font-weight: bold;
        }

        .faq_answer_container {
            height: 0px;
            overflow: hidden;
            padding: 0px;
        }

        /* Image*/

        .container {
            display: flex;
            align-content: space-around;
            justify-content: space-around;
        }
        img {
            max-width: 50%
        }

        .text {
            font-size: 20px;
            padding-right: 10px;
        }
        p.text1 {
            font-family: 'Poppins', sans-serif;
            margin: 20px;
            padding-bottom: 50px;

            position: relative;
            padding: 10px 0px;
            text-align: center;




        }
        p.textfooter{
            text-align: center;
            font-size: x-small;

        }

        .covid{
            color: green;
            font-weight: bold;

        }


        /*******Title****************/

        .title1 {
            text-align: center;
            font-family: 'Poppins', sans-serif;
            text-shadow: 2px 2px #f0f0f5;
            line-height: 7em;
            color: rgb(0, 128, 21);
            background-image: url("img3.png");
            background-position: center;
            height: 200px;
            width: 100%;
        }

        h1.footer1 {
            text-align: center;
            color: green;
            font-weight: bold;
            font-size: xxx-large;
        }
        ul.s {
            list-style-type: square;
        }

        ul.d {
            list-style-type: disc;
        }
        ul.dec {
            list-style-type:decimal
        }
        IMG.s {
            display: block;
        }
        image {
            display: block;
            margin: auto;
            flex-basis: 50%;
        }



    </style>

<h1 class="title1">FAQ - FOIRE AUX QUESTIONS</h1>
<div class="image">
    <img style="display: block; margin-left: auto; margin-right: auto; padding-bottom: 50px" src="assets/img/project/logo2.jpg">
</div>
<div class="container" style="background-color: rgb(219, 235, 230)">
    <div class="text" ><strong>
            <p class="text1">La crise sanitaire a ralenti l’activité humaine et donc la pression sur l’environnement. Cependant elle n’est pas inoffensive pour la planète,<br> d’où la question du recyclage des masques chirurgicaux et FFP2, qui sont parfois simplement jetés dans les rues.
                <br><span class="covid">Recyclo Vid</span>vous apporte un éclairage sur quelques éléments clés pour mieux comprendre le recyclage et le tri des masques.</p><p>
            </p></strong></div>


</div>

<br> <img class="image" style="display: block; margin-left: auto; margin-right: auto; padding-bottom: 50px" src="assets/img/project/30.jpg">
<div class="faq_container">
    <div class="faq">

        <div class="faq_container" style="background-color: rgb(219, 235, 230)">
            <div class="faq_question">Pourquoi le recyclage et le tri des masques ?</div>
            <div class="faq_answer_container">
                <div class="faq_answer">Avec la crise sanitaire qui frappe la France , ils sont devenus un objet de tous les jours, et la question
                    de leur traitement se pose naturellement. Face à la prolifération de masques jetables , il faut encourager le tri, créer des filières de recyclage et relocaliser la production en Europe et en France, préconisent jeudi deux députés au terme d'une mission parlementaire.
                    Danielle Brulebois (LREM) et Gérard Leseul (SOC) se sont penchés sur le sujet depuis la mi-décembre.Il en ressort que l'usage de masques pour lutter contre la propagation du Covid-19 a entraîné entre « 40.000 et 100.000 tonnes de déchets non recyclés en 2020 en France », a indiqué la rapporteur. « Il
                    est de notre devoir de nous pencher sur les conséquences écologiques de ce port du masque », a-telle souligné.
                    <b> valorisation matière</b> (transformation en nouvelle matière première, par exemple en fondant du verre usagé pour produire de nouveaux verres) ou d'une <b>valorisation énergétique</b> (utiliser la chaleur produite par la combustion, récupérer le méthane issu de la décomposition,...).
                    <br><br>
                    <b> nanoplastiques</b>
                    <br><br>
                    Le problème se pose pour les masques chirurgicaux, mais aussi certains masques en tissu qui contiennent des polymères, a-t-elle souligné. Ils sont source de pollution car produits à base de pétrole, souvent importés de Chine, ils émettent des nanoplastiques quand ils se dégradent dans la nature et même quand ils sont jetés correctement à la poubelle, l'incinération ou l'enfouissement ne sont pas des solutions satisfaisantes, selon les députés .
                </div>
            </div>
        </div>
        <div class="faq">

            <div class="faq_container" style="background-color: rgb(219, 235, 230);">
                <div class="faq_question">Le recyclage des masques, comment cela fonctionne ?</div>
                <div class="faq_answer_container">
                    <div class="faq_answer">
                        <ul class="dec">
                            <li><p>Déposez vos masques usagés (masques à usage unique et/ou masques en tissu) dans l'un des points de collecte de la Métropole</p></li>
                            <li><p>Vos masques sont collectés puis décontaminés (tout comme les bornes) par un traitement innovant à base d’UV</p></li>
                            <li><p>. Les masques sont traités, broyés et recyclés localement en intégrant l'une de ces trois filières : textiles (vêtements en polaire ...), bâtiment (matériaux d'isolation thermique, bétons ...), plasturgie (objets ou contenants en plastique ...)</p></li>
                            <li></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="faq">
            </div></div>
        <div class="faq_container" style="background-color: rgb(219, 235, 230);">
            <div class="faq_question">Combien de fois peut-on recycler les masques ?</div>
            <div class="faq_answer_container">
                <div class="faq_answer">
                    Le pouvoir de filtration des masques chirurgicaux ne change pratiquement pas après avoir été portés (s’ils ne se mouillent pas), ni après avoir été stockés au sec à température ambiante, car la filtration repose sur le maillage des fibres et sur ses propriétés électrostatiques. Après 30 utilisations, la perte de filtration et d’ajustement au visage rendent le masque chirurgical comparable à un masque en tissu neuf. Donc, si l’on est soigneux, et que le masque ne reçoit pas de projections, on peut garder le masque très longtemps, et le recycler au moins 20 ou 30 fois, ce qui permet plus de six mois d’utilisation. Mais on peut choisir de renouveler plus souvent ses masques.
                </div>
            </div>
        </div>
        <div class="faq">

            <div class="faq_container" style="background-color: rgb(219, 235, 230);">
                <div class="faq_question">Est-ce qu’il est compliqué de recycler un masque ? </div>
                <div class="faq_answer_container">
                    <div class="faq_answer">
                        D’un point de vue technologique, non. Les machines et les équipements existent… mais la mise en œuvre est assez compliquée puisque le processus complet représente une chaîne de 100m de long pour mettre en place les différentes étapes jusqu’au produit extrudé sous forme de granulés.
                    </div>
                </div>
                <div class="faq">
                    <div class="faq_question">Comment vous faites précisément ? </div>
                    <div class="faq_answer_container">
                        <div class="faq_answer">
                            D’abord on collecte les masques : chaque borne peut réceptionner entre 1 800 à 2 000 masques.Elles font environ 50 litres et sont transparentes car on s’est rendu compte qu’il fallait afficher le déchet afin que les gens ne se trompent pas. Les bornes pleines sont remplacées par des vides puis déversées dans un centre avec un tunnel de décontamination à rayonnements UV. S’ensuit un processus de broyage, de dissociation des élastiques et de la barrette nasale. On sèche, on broie de nouveau puis il y a tout un processus jusqu’à l’extrusion.
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq">

                <div class="faq_container" style="background-color: rgb(219, 235, 230)">
                    <div class="faq_question">Concrètement que deviennent nos masques ? </div>
                    <div class="faq_answer_container">
                        <div class="faq_answer">
                            Ils peuvent intégrer la filière bâtiment comme isolant, un substitut à la laine de verre par exemple.C’est également une fibre que l’on peut intégrer dans les bétons et enduis fibrés pour colmater les fissures des maisons. Dans le textile, on chauffe les granulés et les industriels tirent des fils pour créer des vêtements techniques comme des tenues de sport ou agricoles. Avec le polypropylène on peut faire des bâches, des filets… Dans la plasturgie, on peut concevoir des objets comme des pare-chocs, clignotants ou tableaux de bord de voitures.
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq">

                <div class="faq_container" style="background-color: rgb(219, 235, 230)">
                    <div class="faq_question">Des pistes pour recycler les masques ?</div>
                    <div class="faq_answer_container">
                        <div class="faq_answer">
                            Il y a des idées qui fleurissent depuis le début de la crise, industriels et chercheurs se démènent pour trouver des solutions.<br>
                            Tout d’abord, nos chercheurs du CNRS et de l INSERM qui essaie tout simplement de réutiliser les masques chirurgicaux ou FFP2.<br>
                            L'objectif c'est de les décontaminer pour pouvoir les réutiliser tels quels. Le Pr Philippe Cinquin, chercheur, qui mène ces expérimentations, explique les différentes techniques qu’ils ont étudiées :

                            <ul class="d">
                                <li>	•	Le lavage avec un détergent à haute température jusqu’à 95 degrés. </li>

                                <li>	•	Le passage en autoclave, sorte de cocotte-minute. </li>

                                <li>	•	L’irradiation.  </li>

                            </ul>

                            Selon lui, cela fonctionne, les résultats sont confirmés en laboratoire mais il précise que ces techniques n ont pas encore obtenu d’autorisation de l’ANSM, l’agence du médicament, donc on ne peut pas encore les utiliser à grande échelle.
                        </div>
                    </div>
                </div>
                <div class="faq">

                    <div class="faq_container" style="background-color: rgb(219, 235, 230)">
                        <div class="faq_question">Faut-il oublier les masques faits maison ?</div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">
                                « Ce qu'il faut, c'est encourager à  <b>recycler</b> », a insisté Danielle Brulebois, qui constate que « le recyclage des masques n'a pas constitué une priorité, ni pour les pouvoirs publics, ni pour les collectivités  ».
                                <br><br>
                                Pour Gérard Leseul, une première mesure est de « promouvoir l utilisation des masques réutilisables pour le grand public » afin de limiter les déchets. La possibilité de laver les masques chirurgicaux  « constitue aussi une piste intéressante », a complété Danielle Brulebois.

                            </div>
                        </div>
                    </div>
                    <div class="faq">

                        <div class="faq_container" style="background-color: rgb(219, 235, 230)"></div>
                        <div class="faq_question" text-align="center">Mises en garde</div>
                        <div class="faq_answer_container">
                            <div class="faq_answer">
                                <ul class="s">
                                    <li><p>Dans les cas où vous pensez que votre masque est très contaminé (unité de soins intensifs, conversation avec un malade ou un contact, grand rassemblement, salissure visible), il est préférable de jeter le masque. En effet, si la contamination de départ est massive, les particules virales ne sont peut-être pas toutes inactivées en 7 jours.</p></li>
                                    <li><p>Dans les cas où votre masque a été mouillé, il faut le faire sécher avec soin, à l’air libre ou dans une enveloppe poreuse (en papier buvard), mais pas sous la pile. En théorie, un masque mouillé peut permettre le développement de germes dangereux pour un porteur immunodéprimé (par exemple un Aspergillus). Après séchage, le masque aura perdu une partie de son pouvoir filtrant, mais il restera plus efficace qu’un masque en tissu.</p></li>
                                    <li><p>Si vous êtes particulièrement fragile ou immunodéprimé, il est prudent de continuer à jeter vos masques et d’en utiliser un neuf à chaque fois. Le même conseil vaut pour les soignants au contact de ces personnes.</p></li>
                                    <li><p>Ne partagez pas vos masques avec d’autres. Chacun garde ses microbes pour éviter les contaminations entre personnes !</p></li>
                                    <li><p>Ne pas stocker le masque au froid : le coronavirus se conserve longtemps à 4°C, et plus encore à -18°C dans le congélateur.</p></li>
                                </ul>

                            </div>

    <script>
        $(document).ready(function() {

            $('.faq_question').click(function() {

                if ($(this).parent().is('.open')){
                    $(this).closest('.faq').find('.faq_answer_container').animate({'height':'0'},500);
                    $(this).closest('.faq').removeClass('open');

                }else{
                    var newHeight =$(this).closest('.faq').find('.faq_answer').height() +'px';
                    $(this).closest('.faq').find('.faq_answer_container').animate({'height':newHeight},500);
                    $(this).closest('.faq').addClass('open');
                }

            });

        });
    </script>
{% endblock %}
