{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
    <!-- <div class="lignes"> -->
    <!-- <div class="l1"></div>  -->
    <!-- <div class="l2"></div> -->
    <!-- </div> -->

    <!-- <div class="container-btns"> -->
    <!-- <buttom class="btn-first b1">Masques</buttom> -->
    <!-- <buttom class="btn-first b2">Recyclage Masques</buttom> -->
    <!-- <buttom class="btn-first b1">Collecte Masques</buttom> -->
    <!-- <buttom class="btn-first b1">Livraison Masques</buttom> -->
    <!-- </div> -->
    <!-- </nav> -->
    <!-- </nav> -->
    <li class="mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-category mega-current-menu-item mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-43695" id="mega-menu-item-43695">
        <a class="mega-menu-link" href="https://lemontri.fr/category/nos-actus/" aria-haspopup="true" aria-expanded="false" tabindex="0">NOS ACTUS<span class="mega-indicator" data-has-click-event="true">
            </span></a><ul class="mega-sub-menu"><li class="mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-43738" id="mega-menu-item-43738">
                <a class="mega-menu-link" href="https://lemontri.fr/actualites-lemontri/">Blog</a></li><li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-48364" id="mega-menu-item-48364"><a class="mega-menu-link" href="https://lemontri.fr/calendrier/">Agenda</a></li><li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-43698" id="mega-menu-item-43698">
                <a class="mega-menu-link" href="https://lemontri.fr/newsletter/">Newsletter</a></li>
            <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-44224" id="mega-menu-item-44224"><a class="mega-menu-link" href="https://lemontri.fr/plan-covid/">Plan Covid</a></li></ul></li>

    <!-- STATUT -->





    <!-- <ol><div><li><h2> Blog</h2></li></div><div><li><h2> Agenda </h2></li></div><li><h2>Agenda </h2></li><li><h2>Newsletter </h2></li><li><h2>Plan Covid </h2></li></ol> </div> -->



    <!-- <div class="container-first"><h1><span> </span><span>Actualités </span><span>DE <span>RECYCLOVI'D </span> </span></h1> -->
    <!-- </div> -->





    <ul class="medias">
        <li class="bulle"><img src="img/blog/fb.jpg" alt="" class="logo-medias"></li>
        <li class="bulle"><img src="img/blog/youtube.jpg" alt="" class="logo-medias"></li>
        <li class="bulle"><img src="img/blog/icon-twitter.svg" alt="" class="logo-medias"></li>
        <li class="bulle"><img src="img/blog/images.jpg" alt="" class="logo-medias"></li>
    </ul>
    </div>
    <section>
        <div class="container-btns">
            <buttom class="btn-first b1"><a href="recycl.html">RECYCLAGE</a></buttom>
            <buttom class="btn-first b2"><a href="equip.html">EQUIPEMENT</a></buttom>
            <buttom class="btn-first b1"><a href="collecte.html">COLLECTE </a></buttom>
            <buttom class="btn-first b1"><a href="#">ISOLATION</a></buttom>
        </div>
    </section>




    <main>

        <!-- <a href="blog-details.html" class="theme_btn theme_btn2 theme_btn_bg_02">Voir toutes les actualités <i -->
        <!-- class="far fa-arrow-right"></i></a> -->


        <section class="blog-area pt-130 pb-100">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-xl-4 col-lg-8 col-md-12">
                        <div class="blog-wrapper mb-30">
                            <div class="section-title text-left mb-70 wow fadeInUp2 animated" data-wow-delay='.1s'>
                                <!-- <h6 class="left-line pl-75 pr-75"><h2> </h2> -->
                                <!-- <h6> La crise sanitaire a introduit dans nos poubelles de nouveaux déchets,  -->
                                <!-- qui doivent faire l’objet d’une attention particulière notamment des masques jetables,
                                ces masques potentiellement infectés et qu’il est essentiel d’isoler des déchets recyclables. -->
                                <!-- Face aux enjeux écologiques et sanitaires soulevés par ces nouveaux masques,  -->
                                <!-- Recyclovi'd vous propose différentes solutions, toujours innovantes et solidaires, -->
                                <!-- pour continuer à trier vos déchets en toute sécurité. Les masques jetables, importés pour la plupart d’Asie,
                                sont fabriqués à partir de polypropylène, un plastique qui n’est pas biodégradable. Après quelques heures d’usage,
                                les masques chirurgicaux finissent leur vie dans la poubelle tout-venant, pour rejoindre un circuit d’incinération ou d’enfouissement.
                                 Pour faire face à ce nouveau déchet qui s’accumule dans nos poubelles,
                                 Recyclovi'd allie ses forces à celles d’un consortium d’acteurs menés par Solution Recyclage afin de proposer un procédé innovant de collecte,
                                  de décontamination et de recyclage des masques à 100%. Cet écosystème d’acteurs engagés a pour objectif de transformer les masques jetables en t-shirt,
                                   tout en créant des emplois non délocalisables dans l’Ain.
                                Une alternative responsable et solidaire à l’enfouissement ou à l’incinération ! </h6> -->
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- LISTE -->
        <div>




    </main>

{% endblock %}
